.widget-body
  %table{id: "usage_block", class: "dynamicTable table table-striped table-bordered table-condensed",data: { source: reports_usage_path(format: :json) }}
    %thead
      %tr
        %th Part Number
        %th This Month
        %th Last Month
        -(1..10).each do |i|
          %th A


    %tbody
      - @parts.each do |part|
        - usage = UsageService.new(part).usage
        %tr
          %td= part.part_number
          -(1..12).each do |i|
            %td= usage[@keys[0]]

